# Ignore node_modules folder
**/node_modules

# Ignore nested node_modules folders in the root of the project
/node_modules

# Ignore frontend node_modules folder
frontend/node_modules

# Ignore backend node_modules folder
backend/node_modules
